body { 
    padding-top: 70px; 
}

.input-medium {
    min-width: 230px;
}

.custom-table td {
    padding: 2px 2px 5px 2px !important;
}

.alt-grid [class*="col-"] {padding-left:0;padding-right:0}
.alt-grid .row {margin-left:0;margin-right:0}

/* container adjusted */
.alt-grid .container {width:100%;max-width:none;padding:0;}

.margin-left-30{
	margin-left:30px;
}

.margin-left-5{
	margin-left:5px;
}

th{
	text-align: center;
	vertical-align: middle !important;
}

td {
	vertical-align: middle !important;
}

.th-from{
	background-color:#d9edf7;
}

.th-to{
	background-color: #dff0d8;
}

.nav, .pagination, .carousel, .panel-title a 
{ 
	cursor: pointer; 
}