<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Copy From</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-xs-5">
            <select class="form-control">
                <option value="">MIF</option>
                <option value="">GR</option>
                <option value="">RR</option>
            </select>
        </div>
        <div class="col-xs-1">&mdash;</div>
        <div class="col-xs-6">
            <input type="text" class="form-control" placeholder="000000001">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>